#todo {
    margin: 0 auto;
    background-color: yellow;
    min-width: 350px;
    max-width: 400px;
    font-size: 18px;
    padding: .2rem 2rem;
}

html {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  
  .list {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
  }
  
  .list li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    font-weight: 100;
    display: flex;
  }
  
  .list label {
    flex: 1;
    cursor: pointer;
  }
  
  .list input {
    display: none;
  }
  
  .list input + label:before {
    content: "⬜️";
    margin-right: 10px;
  }
  
  .list input:checked + label:before {
    content: "✔";
  }

  input[type=checkbox]:checked + label {
    text-decoration: line-through;
  }

  .add-items {
    margin-top: 20px;
  }
  
  .add-items input {
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  